<app-slider [nombre]="'Currículum'" [size]="'small'"></app-slider>
<div class="center">

    <section id="content">
        <h1>{{titulo}}</h1>
        <div id="tabs">
            <ul>
                <li id="tab1">Formación</li>
                <li id="tab2">Experiencia</li>
                <li id="tab3">Conocimientos</li>
                <li id="tab4">Aptitudes</li>
            </ul>

            <div id="tabs-formacion">
                <div id="tituloForm-academica">
                    Formación académica
                </div>
                <div class="clearfix"></div>
                <div id="form-academica">
                    <div *ngFor="let formacion of formaciones let i=index;" class="formaciones">

                        <app-formacion [formacion]="formacion">

                        </app-formacion>


                    </div>

                    <div class="clearfix"></div>
                </div>
                <div class="clearfix"></div>
                <div id="tituloOtra-formacion">
                    Otra formación
                </div>
                <div class="clearfix"></div>
                <div id="otra-formacion">
                    <div *ngFor="let curso of cursos let i=index;" class="formaciones">

                        <app-curso [curso]="curso">

                        </app-curso>


                    </div>
                    <div class="curso" *ngFor="let formacion of formaciones">
                        <div class="clearfix"></div>

                    </div>
                </div>

            </div>
            <div id="tabs-experiencia">
                <div id="articles" *ngIf="jobs">
                    <div *ngFor="let job of jobs let i=index;">
                        <app-trabajo [trabajo]="job">

                        </app-trabajo>
                    </div>

                    <!-- AÑADIR ARTÍCULOS VÍA JS -->
                </div>


            </div>

            <div id="tabs-conocimientos">
                <div *ngFor="let conocimiento of conocimientos">
                    <app-conocimiento [conocimiento]='conocimiento'>
                    </app-conocimiento>
                    <div class="clearfix"></div>
                </div>
                <div class="clearfix"></div>
                <div class="conocimiento">
                    <span class="conocimiento-item">
            HTML
          </span>

                    <div class="progress">
                        <div class="progress-bar" role="progressbar" style="width: 75%;" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100">75%</div>
                    </div>
                </div>
                <div class="clearfix"></div>

                Lorem ipsum dolor sit amet consectetur adipisicing elit. Vel eos, explicabo quaerat commodi, impedit iusto reprehenderit praesentium consequatur sunt ab excepturi maxime quisquam aspernatur. Nobis fugiat culpa rem id inventore, distinctio reiciendis delectus
                nesciunt placeat saepe quia quae ipsa quis molestiae atque sed illum, nam, quasi ipsam. Ipsum qui totam impedit deleniti velit incidunt nostrum quisquam rem praesentium voluptate laboriosam quod tenetur, perspiciatis corporis maxime blanditiis
                dolorum dolores ex voluptatem, quaerat quo. Eum sint, delectus odit in, consectetur eveniet repellendus dolores consequuntur dicta esse maiores. Velit repellat excepturi distinctio earum asperiores, modi quo veritatis repudiandae sunt
                non, voluptatibus, veniam libero a corporis quia iste dolore pariatur illum. Fugit doloribus reiciendis veritatis vitae, eos itaque tenetur animi sed a quas labore earum iusto facere facilis aliquam. Deleniti recusandae expedita totam.
                Modi, voluptatum inventore? Pariatur, suscipit? Non nobis temporibus suscipit magni perspiciatis natus consectetur distinctio voluptatem sequi veritatis sapiente laudantium repellendus, soluta consequuntur. Voluptates nam suscipit quos
                voluptatum, vel sequi iusto, natus sint assumenda quod modi ex! Excepturi quidem tempora obcaecati ipsam inventore at possimus facere consequatur consectetur repellendus, voluptate repudiandae eaque beatae asperiores dolorum eius labore
                odit temporibus fuga autem deleniti. Numquam, recusandae consequuntur tempora inventore vel quaerat optio at minima neque, mollitia, atque explicabo excepturi earum architecto laudantium unde quos? Nesciunt labore non a voluptate rerum
                suscipit eos? Veritatis ipsum voluptate nam, autem amet obcaecati corrupti reiciendis nemo. Mollitia laudantium, eum dolorum sapiente cum ipsa a repellat, recusandae, rem quis quibusdam laboriosam sit blanditiis! Esse tempore ad voluptates
                id cum. Lorem, ipsum dolor sit amet consectetur adipisicing elit. Porro, modi sequi molestias vitae, ab doloremque ipsum voluptates non iusto id voluptate beatae ratione laboriosam consequuntur molestiae tempora atque obcaecati commodi
                incidunt sed nisi delectus explicabo odit dolorum? Sed rem cum, obcaecati labore laboriosam adipisci illo quas at odit quibusdam ut reprehenderit tempora explicabo excepturi deserunt nulla soluta debitis dignissimos delectus! Quos, totam
                omnis facilis asperiores voluptas qui accusamus, possimus ab consectetur laboriosam provident? Corporis atque ratione ut. Hic voluptate molestiae neque blanditiis rerum accusantium aliquid dolor unde? Assumenda repellendus repudiandae
                atque illo, ut veritatis cumque? Doloribus, odit velit reprehenderit hic et nulla voluptatibus dignissimos distinctio deserunt suscipit commodi? Vel labore sapiente sequi modi sed dignissimos sit, porro repellat error sunt, voluptates
                voluptatibus provident! Porro aut a illo, deleniti cum consectetur consequatur at repudiandae perferendis molestias, assumenda ab asperiores sunt. Vero recusandae nam quidem hic in mollitia, quam, dolore dicta pariatur sapiente, corporis
                enim. Perferendis, soluta hic ad doloribus vero itaque at aspernatur! Perferendis officia delectus tempora, tenetur quod, dolorum dolore reprehenderit ab provident quaerat illum iste officiis rerum velit quo alias quasi deleniti totam
                dignissimos! A voluptatem sequi modi, ipsa unde vitae ab delectus. Eligendi dolorum necessitatibus quis deleniti placeat facilis aliquid quia adipisci repellat quaerat veniam consequuntur odio ea quae iusto cum sunt, accusantium inventore
                officia recusandae? Autem debitis cum excepturi nesciunt maxime a architecto! Doloribus itaque hic alias vero, id quo exercitationem sit delectus rem doloremque, blanditiis tempora omnis quam! Vitae culpa adipisci et esse impedit nisi
                molestiae ullam veniam, cum minus nulla vero fuga, cupiditate mollitia non commodi architecto fugiat eum officia rem quidem? Possimus facilis laboriosam autem inventore assumenda aspernatur cumque sint hic quisquam dolorem quidem, sed
                fugit vero corrupti dolores sunt ex ratione ab vitae accusantium reprehenderit blanditiis nihil et delectus. Doloribus labore accusantium dicta amet voluptatum soluta nulla odit? Necessitatibus aspernatur et cupiditate sequi consequatur
                est molestiae facere officia error animi fugiat, quas magnam libero maxime nam dolorum alias? Harum laboriosam praesentium ad et natus beatae velit sapiente voluptatem reiciendis autem dolores est sint odio odit consequatur eos neque earum,
                fugiat eius laudantium! Temporibus.
            </div>
            <div id="tabs-habilidades">
                <p>okpompomMauris eleifend est et turpis. Duis id erat. Suspendisse potenti. Aliquam vulputate, pede vel vehicula accumsan, mi neque rutrum erat, eu congue orci lorem eget lorem. Vestibulum non ante. Class aptent taciti sociosqu ad litora
                    torquent per conubia nostra, per inceptos himenaeos. Fusce sodales. Quisque eu urna vel enim commodo pellentesque. Praesent eu risus hendrerit ligula tempus pretium. Curabitur lorem enim, pretium nec, feugiat nec, luctus a, lacus.
                </p>
                <p>Duis cursus. Maecenas ligula eros, blandit nec, pharetra at, semper at, magna. Nullam ac lacus. Nulla facilisi. Praesent viverra justo vitae neque. Praesent blandit adipiscing velit. Suspendisse potenti. Donec mattis, pede vel pharetra
                    blandit, magna ligula faucibus eros, id euismod lacus dolor eget odio. Nam scelerisque. Donec non libero sed nulla mattis commodo. Ut sagittis. Donec nisi lectus, feugiat porttitor, tempor ac, tempor vitae, pede. Aenean vehicula velit
                    eu tellus interdum rutrum. Maecenas commodo. Pellentesque nec elit. Fusce in lacus. Vivamus a libero vitae lectus hendrerit hendrerit.
                </p>
            </div>
        </div>

        <!-- listado artículos-->



    </section>
    <app-sidebar></app-sidebar>
</div>

<!-- Fin Slider -->
