<aside>

  <div id="sidebar">
    <div class="sidebarizq">
      <div id="avatar"><img src="assets/images/avatar.png"></div>
      <span class="lateral">Nombre: </span> Javier Casas Gallego<br />
      <span class="lateral">Dirección: </span>C/Montseny 44 3º F<br />
      <span class="lateral">Población: </span>Madrid - 28038<br />
      <span class="lateral">Teléfono: </span>666200214<br />
      <span class="lateral">Carnet de conducir: </span>B1<br />
      <span class="lateral">e-mail: </span><a href="mailto:javier.casas79@gmail.com">javier.casas79@gmail.com</a><br />
    </div>
  </div>
</aside>
