// Variables
$color      : #ce1e1e;
$borde      : 1px solid $color;
$fondo      : #c25454;
$sombra     : 5px 5px $color;
$sombraTexto: 0px 0px 2px $color;

@mixin barraLateral {
  z-index         : 10;
  position        : relative;
  top             : -100px;
  border          : $borde;
  color           : lightblue;
  font-size       : 20px;
  padding         : 10px;
  width           : 100%;
  float           : left;
  min-height      : 300px;
  background-color: $fondo;
  border-radius   : 15px;
  box-shadow      : 5px 5px 5px $color;

  .lateral {
    color: lightgreen;
  }
}

@mixin detalleExperiencia {
  border       : 1px solid gray;
  padding      : 20px;
  box-shadow   : 5px 5px 10px gray;
  border-radius: 10px;
}

@mixin curso {
  color      : chocolate;
  text-shadow: $sombraTexto;
  font-size  : 20px;
}

@mixin centro {
  font-weight   : bold;
  color         : $fondo;
  text-transform: uppercase;
  float         : left;
  font-size     : 30px;
  margin-left   : 40px;
}

#header {
  border-bottom: 1px solid #ccc;
  border-top   : 5px solid $color;
  height       : 130px;
  width        : 100%;
  background   : white;
}

#slider.slider-helpdesk {
  /*DegradadoCSS*/
  background: linear-gradient(rgba(232, 75, 75, 1) 0%, rgba(255, 255, 255, 1) 100%);

}



#menu {
  height     : 125px;
  align-items: center;

  .enlaceMenuH {
    border         : none;
    background     : none;
    text-decoration: none;
    color          : #444;
    transition     : 500ms all;
    font-size      : 22px;
    outline        : none;

  }

  .enlaceMenuH:hover {
    transform  : scale(1.2, 1.2);
    text-shadow: 2px 2px 2px $color;
    color      : $color;
  }

}

#sidebar,
#sidebar1 {
  width      : 25%;
  float      : left;
  margin     : 10px;
  display    : none;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

#divPrueba {
  display: none;
}



#tituloForm-academica,
#tituloOtra-formacion {
  display  : block;
  float    : left;
  cursor   : pointer;
  font-size: 30px;
}


.bar-warning {
  background-color: #bdbd57 !important;
}

.bar-success {
  background-color: #4faf4f !important;
}

.bar-error {
  background-color: #aa4f4f !important;
}

#experiencia {
  cursor: pointer;
}

#centro {
  @include centro();
}

#curso {
  @include curso();
}

#periodo {
  padding: 5px;
  display: block;
  float  : left;
  color  : $color;
}

#empresa {
  @include centro();
}

#form-academica,
#otra-formacion {
  display: none;
}

#tabs {
  border-radius: 10px;
}

#tabs-experiencia {
  #articles {
    ul {
      text-align         : center;
      list-style-position: inside;
      margin             : auto;
      display            : inline-block;
      text-align         : left;
    }

    .experiencia-item {
      transition: 500ms;

      a {
        text-decoration: none;
      }

      a:hover {
        text-decoration: none;
        color          : #444;
      }
    }


    .experiencia-item:hover {
      transform       : scale(1.02, 1.02);
      box-shadow      : 10px 10px 10px #ce7575;
      border-radius   : 10px;
      background-color: #d3b2b2;
      cursor          : pointer;
    }

  }

}

.sidebarizq {
  @include barraLateral();
}


#avatar {
  margin         : auto;
  justify-content: center;
  display        : flex;

  img {
    text-align: center;
    width     : 200px;
  }
}

.conocimiento {

  display: flex;
  margin : 10px;


  .conocimiento-item {
    width: 200px;

  }

  .progress {
    margin       : 5px;
    width        : 100%;
    border-radius: 10px;
  }
}

.titulo-trabajo {
  cursor        : pointer;
  display       : flex;
  flex-direction: column;
}

.descTrabajo {
  margin    : 0 20px 20px 20px;
  text-align: justify;
}

.detalleTrabajo {
  @include detalleExperiencia();
}

.tareas {
  color: $color;
}

.botones {
  display       : flex;
  flex-direction: row-reverse;

}
