/* .contenedor {
    border: 1px solid rgb(76, 0, 255);
    text-align: center;
}

.formulario {
    display: grid;
    -ms-grid-column-align: center;
    -ms-grid-row-align: center;
    padding: 5px;
}

.caja {
    width: 100px;
    height: 100px;
    background: red;
} */
