#otra-formacion {
    text-align: left;
}

@for $k from 1 to 50 {
    #descTrabajo {
        display: none;
    }
}

.titulo-trabajo {
    transition: all 1s;
    -webkit-transition: all 1s;
    -moz-transition: all 1s;
    -ms-transition: all 1s;
    -o-transition: all 1s;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}

.titulo-trabajo:hover {
    border-radius: 10px;
    background: #948c8c;
}

.btnCert {
    margin-top: 10px;
    margin-bottom: -20px;
}
