@use 'base';
// Variables
$color: #ce1e1e;
$borde: 1px solid $color;
$fondo: #c25454;
$sombra: 5px 5px $color;
$sombraTexto: 0px 0px 2px $color;
@mixin barraLateral {
    min-width: 300px;
    z-index: 10;
    border: $borde;
    color: lightblue;
    font-size: 20px;
    padding: 10px;
    width: 100%;
    float: left;
    min-height: 300px;
    background-color: $fondo;
    border-radius: 15px;
    box-shadow: 5px 5px 5px $color;
    display: none;
    .lateral {
        color: lightgreen;
    }
}

@mixin barraLateral2 {
    min-width: 300px;
    z-index: 10;
    position: relative;
    top: 0px;
    align-items: center;
    border: $borde;
    color: lightblue;
    font-size: 20px;
    padding: 10px;
    width: 40%;
    display: none;
    min-height: 300px;
    background-color: $fondo;
    border-radius: 15px;
    box-shadow: 5px 5px 5px $color;
    .lateral {
        color: lightgreen;
    }
}

@mixin curso {
    color: chocolate;
    text-shadow: $sombraTexto;
    font-size: 20px;
}

@mixin centro {
    font-weight: bold;
    color: $fondo;
    text-transform: uppercase;
    float: left;
    font-size: 30px;
    margin-left: 40px;
}

@mixin info {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: red;
    float: left;
    font-size: 20;
    margin: 10px;
    padding: 10px;
}

#linkLogo:link {
    background: red;
    color: black;
    transition: 400ms all;
}

#linkLogo:hover {
    color: red;
    text-shadow: 0px 0px 10px black;
}

#header {
    border-bottom: 1px solid #ccc;
    border-top: 5px solid $color;
    height: 130px;
    width: 100%;
    background: white;
}

#slider.slider-helpdesk {
    /*DegradadoCSS*/
    background: linear-gradient(rgba(232, 75, 75, 1) 0%, rgba(255, 255, 255, 1) 100%);
}

#menu {
    a:hover,
    .active {
        color: $color;
        border-bottom: 5px solid $color;
    }
    ul {
        li:hover {
            transform: scale(1.2, 1.2);
            text-shadow: 2px 2px 2px $color;
            color: $color;
        }
    }
}

.enlaceMenuH:hover {
    transform: scale(1.2, 1.2);
    text-shadow: 2px 2px 2px $color;
    color: $color;
}

#sidebar,
#sidebar1 {
    min-width: 255px;
    width: 25%;
    float: left;
    margin: 10px;
    display: flex;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

#divPrueba {
    display: none;
}

#tituloForm-academica,
#tituloOtra-formacion {
    display: block;
    float: left;
    cursor: pointer;
    font-size: 30px;
}

.bar-warning {
    background-color: #bdbd57 !important;
}

.bar-success {
    background-color: #4faf4f !important;
}

.bar-error {
    background-color: #aa4f4f !important;
}

.formaciones {
    border: 1px solid gray;
    margin: 10px;
    border-radius: 10px;
    padding: 10px;
}

#experiencia {
    cursor: pointer;
}

#centro {
    @include centro();
}

#curso {
    @include curso();
}

#info {
    @include info();
}

#periodo {
    padding: 5px;
    display: block;
    float: left;
    color: $color;
}

#empresa {
    @include centro();
}

#tabs {
    border-radius: 10px;
    background: #c2c2c2;
    min-height: 200px;
    margin-bottom: 60px;
    ul {
        display: flex;
        flex-flow: row;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        grid-row: 1fr 1fr 1fr 1fr;
        border: 1px solid red;
        border-radius: 10px;
        li {
            margin: 10px;
            list-style: none;
            border: 1px solid black;
            padding: 5px;
            cursor: pointer;
            box-shadow: 0px 0px 10px 3px;
            border-radius: 10px;
            transition: 500ms all;
            font-weight: bold;
        }
        li:hover {
            background: #9c9c9c;
        }
    }
}

#modalTrabajo {
    padding: 10px;
    .modalHeader {
        align-content: center;
        margin: 10px;
    }
    img {
        width: 50px;
    }
    span {
        color: #c25454;
    }
    h2 {
        display: flex;
        align-content: center;
        justify-content: center;
        text-align: center;
    }
    .btn-modal {
        float: right;
    }
}

#tabs-formacion {
    padding: 20px;
}

#form-academica,
#otra-formacion,
#tabs-experiencia,
#tabs-conocimientos,
#tabs-habilidades {
    padding: 30px;
    display: none;
}

#tabs-experiencia {
    #articles {
        ul {
            text-align: center;
            list-style-position: inside;
            margin: auto;
            display: inline-block;
            text-align: left;
        }
        .experiencia-item {
            transition: all 1s;
            a {
                text-decoration: none;
                color: #291f52;
            }
            a:hover {
                text-decoration: none;
                color: #cfcece;
            }
        }
        .experiencia-item:hover {
            transform: scale(1.02, 1.02);
            border-radius: 10px;
            cursor: pointer;
            background: #945b5b;
            color: white;
        }
    }
}

.sidebarizq {
    @include barraLateral();
    .lateral {
        color: lightgreen;
    }
}

@media(max-width:1100px) {
    #sidebar {
        width: 100%;
        align-items: center;
        justify-content: center;
        margin: auto;
        display: flex;
        font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande", "Lucida Sans", Arial, sans-serif;
        .sidebarizq {
            @include barraLateral2();
        }
    }
}

.tareas {
    color: $color;
}
