<section class="experiencia-item" id="experiencia-template">
    <div class="row" (click)="openTrabajo(modalTrabajo, '{{trabajo._id}}')" aria-label="home" *ngIf="trabajo">
        <div class="col-1 image-empresa">
            <img src="{{ url + 'get-image/' + trabajo.logo }}" alt="{{ trabajo.empresa }}" *ngIf="trabajo.logo" />
            <img src="assets/images/default.png" alt="{{ trabajo.empresa }}" *ngIf="!trabajo.logo" />
        </div>
        <div class="col-11">
            <div class="titulo-trabajo" id="titulo-trabajo">
                <span id="periodo" class="periodo">{{ trabajo.inicio | date: "MMMM YYYY" }} -
          {{ trabajo.fin | date: "MMMM YYYY" }}</span
        >
        <div class="clearfix"></div>
        <h2 id="empresa">{{ trabajo.empresa }}</h2>
      </div>
    </div>
  </div>
  <div class="clearfix"></div>
  <!-- <a [routerLink]="['/cv/trabajo', trabajo._id]">
        <article class="descTrabajo">{{trabajo.descripcion}}
        </article>
    </a> -->
  <hr />
</section>

<!-- Modales -->
<!-- Modal Certificado -->
<ng-template #modalTrabajo let-modal>
  <div class="modalTrabajo">
    <button
      type="button"
      class="close"
      aria-describedby="modal-title"
      (click)="modal.dismiss('Cross click')"
    >
      <span aria-hidden="true">&times;</span>
                </button>

                <div class="row">
                    <div class="col-1">
                        <img src="{{ url + 'get-image/' + trabajo.logo }}" alt="{{ trabajo.empresa }}" *ngIf="trabajo.logo" />
                    </div>
                    <div class="col-11">
                        <h2>{{ trabajo.empresa }}</h2>
                    </div>
                </div>
                <hr />
                <span><small>Desde: </small
      ><u>{{ trabajo.inicio | date: "MMMM YYYY" }}</u></span
    ><br />
    <span *ngIf="trabajo.fin"
      ><small>Hasta: </small><u>{{ trabajo.fin | date: "MMMM YYYY" }}</u></span
    >
    <span *ngIf="!trabajo.fin"
      ><small>Hasta: </small><u><strong>Actualmente</strong></u></span
    >

    <div class="modal-body">
      <p><strong>Puesto</strong>: {{ trabajo.puesto }}</p>
      <p>
        <strong>Descripción de las tareas</strong>: {{ trabajo.descripcion }}
      </p>
    </div>
    <hr />
    <div class="botones">
      <div class="botonesDerecha">
        <button
          type="button"
          class="btn btn-danger btn-modal"
          aria-describedby="modal-title"
          (click)="modal.dismiss('Cross click')"
        >
          Cerrar
        </button>
      </div>
      <button
        *ngIf="!trabajo.fin"
        type="button"
        class="btn btn-info btn-modal"
        aria-describedby="modal-edit"
        (click)="editTrabajo(modalEditTrabajo, '{{trabajo._id}}')"
      >
        Editar
      </button>
    </div>
  </div>
</ng-template>

<!-- Modal Editar Trabajo -->
<ng-template #modalEditTrabajo let-modal>
  <div class="modalTrabajo">
    <button
      type="button"
      class="close"
      aria-describedby="modal-title"
      (click)="modal.dismiss('Cross click')"
    >
      <span aria-hidden="true">&times;</span>
                </button>

                <div class="row">
                    <div class="col-1">
                        <img src="{{ url + 'get-image/' + trabajo.logo }}" alt="{{ trabajo.empresa }}" *ngIf="trabajo.logo" />
                    </div>
                    <div class="col-11">
                        <h2>{{ trabajo.empresa }}</h2>
                    </div>
                </div>
                <hr />
                <form>
                    <span><small>Desde: </small
        ><u>{{ trabajo.inicio | date: "MMMM YYYY" }}</u></span
      ><br />
      <span *ngIf="!trabajo.fin"
        ><small>Hasta: </small>
        <input type="date" value="" name="editFin" id="editFin" />
      </span>

                    <div class="modal-body">
                        <p><strong>Puesto</strong>: {{ trabajo.puesto }}</p>
                        <p>
                            <strong>Descripción de las tareas</strong>: {{ trabajo.descripcion }}
                        </p>
                    </div>
                    <hr />
                    <div class="botones">
                        <div class="botonesDerecha">
                            <button type="button" class="btn btn-info btn-modal" aria-describedby="modal-edit" (click)="updateTrabajo(trabajo._id)">
            Actualizar
          </button>
                        </div>
                        <button type="button" class="btn btn-danger btn-modal" aria-describedby="modal-title" (click)="modal.dismiss('Cross click')">
          Cerrar
        </button>
                    </div>
                </form>
            </div>
            </ng-template>
