<span id="periodo" class="periodo">{{formacion.inicio|date:'MMMM YYYY'}} - {{formacion.fin|date: 'MMMM YYYY'}}</span>
<div class="clearfix"></div>
<span id="centro">{{formacion.centro}}</span>
<div class="clearfix"></div>
<span id="curso">{{formacion.titulacion}}</span>
<div class="clearfix"></div>

<button *ngIf="formacion.imagen!=''" class="btn btn-primary btnCert" (click)="openTitulo(modalTitulo, '{{formacion._id}}')" aria-label="home">Ver Certificado
</button>
<hr>


<!-- Modales -->
<!-- Modal Certificado -->
<ng-template #modalTitulo let-modal>
    <img src="{{url+'get-titulo/'+formacion.imagen}}" alt="{{formacion.titulacion}}" />
    <!-- <img src="../../../assets/images/certificados/{{curso.imagen}}" /> -->
</ng-template>
