<app-slider [nombre]="'Acerca De...'" [size]="'small'"></app-slider>
<div class="center">

    <section id="content">
        <div class="center">
            <div class="acerca">
                <h1>Acerca de este currículum</h1>
                <h2>Este curriculum web se ha realizado utilizando las siguientes tecnologías {{nombre}}</h2>
            </div>
            <div class="tecnologias">
                <div *ngFor="let tec of tecnologias" class="tec1">
                    <img src="assets/images/acerca/{{tec}}.png" alt="{{tec.toUpperCase()}}">
                </div>
            </div>
        </div>
    </section>
    <app-sidebar></app-sidebar>
</div>

<!-- Fin Slider -->
